html, body{
    margin: 0;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10pt;
    background: white;
}
header{
    height: 50px;
    line-height: 50px;
    background: linear-gradient(135deg,yellow,rgb(255, 139, 56));
    color: rgb(0, 0, 0);
    font-size: 16pt;
    font-weight: bold;
    text-align: center;
}
footer{
    height: 30px;
    line-height: 30px;
    background: linear-gradient(135deg,yellow,rgb(255, 139, 56));
    color: rgb(116, 9, 9);
    font-size: 12pt;
    font-weight: bold;
    font-style: italic;
    text-align: center;
}
section{
    height: calc(100% - 80px);
    overflow: auto;
    text-align: center;
}
section table{
    width: 100%;
    border-collapse: collapse;

}
section table thead{
    background: #f49726;
}
section table tr{
    height: 30px;
}
section table tr th,
section table tr td{
    border: 1px solid greenyellow;
}
section table tr:nth-child(even){
    background: rgb(255, 177, 43);
}